* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  list-style-type: none;
  border: none;
}

.body--1 {
  background-color: #F4F4F4;
  width: 100%;
  height: 209vh;
  margin-top: 0.5%;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 99vh 100vh 10vh;
  grid-template-areas: "header header header" ". main ." "footer footer footer";
  grid-row: 0.5%;
}
@media screen and (max-width: 450px) {
  .body--1 {
    height: 140vh;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 70vh 60vh 10vh;
    grid-template-areas: "header header header" ". main ." "footer footer footer";
    margin-top: 0.5%;
    grid-row: 0.5%;
  }
}

.body__encabezado {
  background-color: #F4F4F4;
  height: 99vh;
  display: grid;
  grid-area: header;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 49vh 50vh;
  grid-template-areas: "nav logo ." "nav h1 .";
}
@media screen and (max-width: 850px) {
  .body__encabezado {
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 33vh 33vh 33vh;
    grid-template-areas: ". nav ." ". logo ." ". h1 .";
  }
}
@media screen and (max-width: 500px) {
  .body__encabezado {
    display: grid;
    grid-template-rows: 10vh 20vh 20vh;
  }
}
.body__encabezado .encabezado__logo {
  background-color: #F4F4F4;
  grid-area: logo;
  text-align: center;
  padding: 10vh;
}
@media screen and (max-width: 850px) {
  .body__encabezado .encabezado__logo {
    padding: 2%;
  }
}
@media screen and (max-width: 500px) {
  .body__encabezado .encabezado__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh;
  }
}
.body__encabezado .encabezado__logo .logo__imagen {
  width: 30vh;
}
@media screen and (max-width: 850px) {
  .body__encabezado .encabezado__logo .logo__imagen {
    grid-area: logo;
    padding: 2%;
  }
}
@media screen and (max-width: 500px) {
  .body__encabezado .encabezado__logo .logo__imagen {
    width: 15vh;
  }
}
.body__encabezado .encabezado__nav {
  background-color: #F4F4F4;
  grid-area: nav;
  position: fixed;
  top: 25vh;
  width: 5%;
  text-align: center;
}
@media screen and (max-width: 850px) {
  .body__encabezado .encabezado__nav {
    width: 100%;
    height: 100%;
    position: static;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50%;
    grid-template-areas: "navlist";
  }
}
@media screen and (max-width: 500px) {
  .body__encabezado .encabezado__nav {
    margin-top: 1.5vh;
  }
}
@media screen and (max-width: 850px) {
  .body__encabezado .encabezado__nav .nav__lista {
    background-color: #F4F4F4;
    grid-area: navlist;
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-template-rows: 100%;
    grid-template-areas: "listitem1 listitem2 listitem3 listitem4 listitem5";
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 450px) {
  .body__encabezado .encabezado__nav .nav__lista {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
}
.body__encabezado .encabezado__nav .nav__lista .lista__item .enlace__ico {
  width: 100%;
  padding: 10%;
}
@media screen and (max-width: 850px) {
  .body__encabezado .encabezado__nav .nav__lista .lista__item .enlace__ico {
    width: 50%;
  }
}
.body__encabezado .encabezado__titulo {
  display: flex;
  align-items: center;
  font-size: 2em;
  background-color: #F4F4F4;
  grid-area: h1;
  text-align: center;
  justify-content: center;
  padding: 2%;
}
@media screen and (max-width: 850px) {
  .body__encabezado .encabezado__titulo {
    grid-area: h1;
    font-size: 1.7em;
  }
}
@media screen and (max-width: 700px) {
  .body__encabezado .encabezado__titulo {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 500px) {
  .body__encabezado .encabezado__titulo {
    grid-area: h1;
    font-size: 1em;
  }
}
@media screen and (max-width: 400px) {
  .body__encabezado .encabezado__titulo {
    font-size: 0.7em;
  }
}

.body__main--1 {
  background-color: #000000;
  grid-area: main;
  grid-template-columns: 100%;
  grid-template-rows: 50vh 50vh;
  grid-template-areas: "main1h2 main1h2" "main1p main1p";
  display: grid;
  align-items: center;
  color: #F4F4F4;
}
@media screen and (max-width: 450px) {
  .body__main--1 {
    grid-template-rows: 25vh 25vh;
  }
}
.body__main--1 .main__h2--1 {
  grid-area: main1h2;
  font-size: 2em;
  text-align: center;
  align-content: center;
  padding: 5%;
}
@media screen and (max-width: 700px) {
  .body__main--1 .main__h2--1 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 500px) {
  .body__main--1 .main__h2--1 {
    font-size: 1em;
  }
}
@media screen and (max-width: 450px) {
  .body__main--1 .main__h2--1 {
    font-size: 1em;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 400px) {
  .body__main--1 .main__h2--1 {
    font-size: 0.7em;
  }
}
.body__main--1 .main__p--1 {
  grid-area: main1p;
  font-size: 2em;
  text-align: center;
  align-content: center;
  padding: 5%;
}
@media screen and (max-width: 700px) {
  .body__main--1 .main__p--1 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 500px) {
  .body__main--1 .main__p--1 {
    font-size: 1em;
  }
}
@media screen and (max-width: 450px) {
  .body__main--1 .main__p--1 {
    font-size: 1em;
    padding-top: 0;
  }
}
@media screen and (max-width: 400px) {
  .body__main--1 .main__p--1 {
    font-size: 0.6em;
  }
}

.body__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4F4F4;
  grid-area: footer;
}
.body__footer p {
  font-size: 1.5em;
}
@media screen and (max-width: 700px) {
  .body__footer p {
    font-size: 1em;
  }
}
@media screen and (max-width: 500px) {
  .body__footer p {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 400px) {
  .body__footer p {
    font-size: 0.5em;
  }
}

.body {
  background-color: #F4F4F4;
  width: 100%;
  height: 209vh;
  margin-top: 0.5%;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 99vh 100vh 10vh;
  grid-template-areas: "header header header" ". main ." "footer footer footer";
  grid-row: 0.5%;
}
@media screen and (max-width: 500px) {
  .body {
    width: 100%;
    height: 160vh;
    grid-template-rows: 50vh 100vh 10vh;
    grid-template-areas: "header header header" ". main ." "footer footer footer";
  }
}
@media screen and (max-width: 400px) {
  .body {
    height: 110vh;
    grid-template-rows: 50vh 50vh 10vh;
  }
}

@media screen and (max-width: 850px) {
  .lista__item--1 {
    background-color: #F4F4F4;
    grid-area: listitem1;
    padding: 2%;
  }
}
@media screen and (max-width: 450px) {
  .lista__item--1 {
    padding: 0;
  }
}

@media screen and (max-width: 850px) {
  .lista__item--2 {
    background-color: #F4F4F4;
    grid-area: listitem2;
    padding: 2%;
  }
}
@media screen and (max-width: 450px) {
  .lista__item--2 {
    padding: 0;
  }
}

@media screen and (max-width: 850px) {
  .lista__item--3 {
    background-color: #F4F4F4;
    grid-area: listitem3;
    padding: 2%;
  }
}
@media screen and (max-width: 450px) {
  .lista__item--3 {
    padding: 0;
  }
}

@media screen and (max-width: 850px) {
  .lista__item--4 {
    background-color: #F4F4F4;
    grid-area: listitem4;
    padding: 2%;
  }
}
@media screen and (max-width: 450px) {
  .lista__item--4 {
    padding: 0;
  }
}

@media screen and (max-width: 850px) {
  .lista__item--5 {
    background-color: #F4F4F4;
    grid-area: listitem5;
    padding: 2%;
  }
}
@media screen and (max-width: 450px) {
  .lista__item--5 {
    padding: 0;
  }
}

.body__main {
  background-color: #000000;
  color: #F4F4F4;
  align-items: center;
  display: grid;
  grid-area: main;
  grid-template-columns: 100%;
  grid-template-rows: 25vh 30vh 45vh;
  grid-template-areas: "mainh2 mainh2" "mainp mainp" "mainimg mainimg";
}
@media screen and (max-width: 400px) {
  .body__main {
    grid-template-rows: 15vh 15vh 20vh;
  }
}
.body__main .main__h2 {
  grid-area: mainh2;
  font-size: 3em;
  text-align: center;
  align-content: center;
  padding: 5%;
}
@media screen and (max-width: 850px) {
  .body__main .main__h2 {
    font-size: 2em;
    padding: 5%;
  }
}
@media screen and (max-width: 700px) {
  .body__main .main__h2 {
    font-size: 1.5em;
    text-align: center;
    padding: 5%;
  }
}
@media screen and (max-width: 500px) {
  .body__main .main__h2 {
    grid-area: mainh2;
    font-size: 1em;
    text-align: center;
    padding: 5%;
  }
}
@media screen and (max-width: 400px) {
  .body__main .main__h2 {
    font-size: 0.7em;
  }
}
.body__main .main__p {
  grid-area: mainp;
  font-size: 2em;
  text-align: center;
  align-content: center;
  padding: 5%;
}
@media screen and (max-width: 850px) {
  .body__main .main__p {
    font-size: 2em;
    padding: 5%;
  }
}
@media screen and (max-width: 700px) {
  .body__main .main__p {
    font-size: 1.5em;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .body__main .main__p {
    font-size: 1em;
  }
}
@media screen and (max-width: 400px) {
  .body__main .main__p {
    font-size: 0.7em;
  }
}
.body__main .main__imagen {
  display: flex;
  align-items: center;
  grid-area: mainimg;
  width: 50vh;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 700px) {
  .body__main .main__imagen {
    width: 30vh;
  }
}
@media screen and (max-width: 400px) {
  .body__main .main__imagen {
    width: 30vh;
  }
}
.body__main .main__imagen .imagen__img {
  width: 100%;
}

.body--2 {
  background-color: #F4F4F4;
  width: 100%;
  height: 209vh;
  display: grid;
  margin-top: 0.5%;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 99vh 200vh 10vh;
  grid-template-areas: "header2 header2 header2" ". main2 ." "footer2 footer2 footer2";
  grid-row: 0.5%;
}

.body__encabezado--2 {
  background-color: #F4F4F4;
  height: 99vh;
  display: grid;
  grid-area: header2;
  grid-template-columns: 5% 45% 45% 5%;
  grid-template-rows: 49vh 50vh;
  grid-template-areas: "nav2 logo2 logo2 ." "nav2 tit2 parr2 .";
}
@media screen and (max-width: 850px) {
  .body__encabezado--2 {
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 33vh 33vh 20vh 13vh;
    grid-template-areas: ". nav2 ." ". logo2 ." ". tit2 ." ". parr2 .";
  }
}
.body__encabezado--2 .encabezado__logo--2 {
  background-color: #F4F4F4;
  grid-area: logo2;
  text-align: center;
  padding: 10vh;
}
@media screen and (max-width: 850px) {
  .body__encabezado--2 .encabezado__logo--2 {
    padding: 2vh;
  }
}
.body__encabezado--2 .encabezado__logo--2 .logo__imagen--2 {
  width: 30vh;
}
.body__encabezado--2 .encabezado__nav--2 {
  background-color: #F4F4F4;
  grid-area: nav2;
  position: fixed;
  top: 25vh;
  width: 5%;
  text-align: center;
}
@media screen and (max-width: 850px) {
  .body__encabezado--2 .encabezado__nav--2 {
    width: 100%;
    height: 100%;
    position: static;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50%;
    grid-template-areas: "navlist2";
  }
}
@media screen and (max-width: 850px) {
  .body__encabezado--2 .encabezado__nav--2 .nav__lista--2 {
    background-color: #F4F4F4;
    grid-area: navlist2;
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-template-rows: 100%;
    grid-template-areas: "listitem1dos listitem2dos listitem3dos listitem4dos listitem5dos";
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 850px) {
  .body__encabezado--2 .encabezado__nav--2 .nav__lista--2 .lista__item1--2 {
    background-color: #F4F4F4;
    grid-area: listitem1dos;
    padding: 2%;
  }
}
.body__encabezado--2 .encabezado__nav--2 .nav__lista--2 .lista__item1--2 .item__enlace--2 .enlace__ico--2 {
  width: 100%;
  padding: 10%;
}
@media screen and (max-width: 850px) {
  .body__encabezado--2 .encabezado__nav--2 .nav__lista--2 .lista__item1--2 .item__enlace--2 .enlace__ico--2 {
    width: 50%;
  }
}
@media screen and (max-width: 850px) {
  .body__encabezado--2 .encabezado__nav--2 .nav__lista--2 .lista__item2--2 {
    background-color: #F4F4F4;
    grid-area: listitem2dos;
    padding: 2%;
  }
}
.body__encabezado--2 .encabezado__nav--2 .nav__lista--2 .lista__item2--2 .item__enlace--2 .enlace__ico--2 {
  width: 100%;
  padding: 10%;
}
@media screen and (max-width: 850px) {
  .body__encabezado--2 .encabezado__nav--2 .nav__lista--2 .lista__item2--2 .item__enlace--2 .enlace__ico--2 {
    width: 50%;
  }
}
@media screen and (max-width: 850px) {
  .body__encabezado--2 .encabezado__nav--2 .nav__lista--2 .lista__item3--2 {
    background-color: #F4F4F4;
    grid-area: listitem3dos;
    padding: 2%;
  }
}
.body__encabezado--2 .encabezado__nav--2 .nav__lista--2 .lista__item3--2 .item__enlace--2 .enlace__ico--2 {
  width: 100%;
  padding: 10%;
}
@media screen and (max-width: 850px) {
  .body__encabezado--2 .encabezado__nav--2 .nav__lista--2 .lista__item3--2 .item__enlace--2 .enlace__ico--2 {
    width: 50%;
  }
}
@media screen and (max-width: 850px) {
  .body__encabezado--2 .encabezado__nav--2 .nav__lista--2 .lista__item4--2 {
    background-color: #F4F4F4;
    grid-area: listitem4dos;
    padding: 2%;
  }
}
.body__encabezado--2 .encabezado__nav--2 .nav__lista--2 .lista__item4--2 .item__enlace--2 .enlace__ico--2 {
  width: 100%;
  padding: 10%;
}
@media screen and (max-width: 850px) {
  .body__encabezado--2 .encabezado__nav--2 .nav__lista--2 .lista__item4--2 .item__enlace--2 .enlace__ico--2 {
    width: 50%;
  }
}
@media screen and (max-width: 850px) {
  .body__encabezado--2 .encabezado__nav--2 .nav__lista--2 .lista__item5--2 {
    background-color: #F4F4F4;
    grid-area: listitem5dos;
    padding: 2%;
  }
}
.body__encabezado--2 .encabezado__nav--2 .nav__lista--2 .lista__item5--2 .enlace__ico--2 {
  width: 100%;
  padding: 10%;
}
@media screen and (max-width: 850px) {
  .body__encabezado--2 .encabezado__nav--2 .nav__lista--2 .lista__item5--2 .enlace__ico--2 {
    width: 50%;
  }
}
.body__encabezado--2 .encabezado__titulo--2 {
  display: flex;
  align-items: center;
  font-size: 2em;
  background-color: #F4F4F4;
  grid-area: tit2;
  text-align: center;
  justify-content: center;
  padding: 2%;
}
@media screen and (max-width: 1100px) {
  .body__encabezado--2 .encabezado__titulo--2 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 850px) {
  .body__encabezado--2 .encabezado__titulo--2 {
    grid-area: tit2;
    font-size: 1.2em;
  }
}
@media screen and (max-width: 500px) {
  .body__encabezado--2 .encabezado__titulo--2 {
    font-size: 1em;
  }
}
.body__encabezado--2 .encabezado__parrafo--2 {
  display: flex;
  align-items: center;
  font-size: 2em;
  background-color: #F4F4F4;
  grid-area: parr2;
  text-align: center;
  justify-content: center;
  padding: 2%;
}
@media screen and (max-width: 850px) {
  .body__encabezado--2 .encabezado__parrafo--2 {
    padding: 2%;
    font-size: 1.2em;
  }
}
@media screen and (max-width: 500px) {
  .body__encabezado--2 .encabezado__parrafo--2 {
    font-size: 1em;
  }
}

.body__main--2 {
  background-color: #000000;
  align-items: center;
  color: #F4F4F4;
  display: grid;
  grid-area: main2;
  grid-template-columns: 100%;
  grid-template-rows: 200vh;
  grid-template-areas: "mainform";
}
.body__main--2 .main__form {
  grid-area: mainform;
  grid-template-columns: 50% 50%;
  grid-template-rows: 170vh 30vh;
  grid-template-areas: "field1 field2" "field3 field3";
  display: grid;
}
@media screen and (max-width: 700px) {
  .body__main--2 .main__form {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70vh 110vh 20vh;
    grid-template-areas: "field1 field1" "field2 field2" "field3 field3";
  }
}
.body__main--2 .main__form .form__field--1 {
  grid-area: field1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5%;
  margin: 5%;
  background-color: #000000;
  color: #F4F4F4;
}
@media screen and (max-width: 850px) {
  .body__main--2 .main__form .form__field--1 {
    margin: 1%;
  }
}
@media screen and (max-width: 700px) {
  .body__main--2 .main__form .form__field--1 {
    padding: 1%;
  }
}
.body__main--2 .main__form .form__field--1 .field__legend {
  font-size: 1.5em;
}
@media screen and (max-width: 700px) {
  .body__main--2 .main__form .form__field--1 .field__legend {
    padding: 5%;
    font-size: 1em;
  }
}
@media screen and (max-width: 500px) {
  .body__main--2 .main__form .form__field--1 .field__legend {
    font-size: 0.9em;
  }
}
.body__main--2 .main__form .form__field--1 .field__nombre {
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
@media screen and (max-width: 700px) {
  .body__main--2 .main__form .form__field--1 .field__nombre {
    margin: 1%;
  }
}
@media screen and (max-width: 500px) {
  .body__main--2 .main__form .form__field--1 .field__nombre {
    font-size: 0.8em;
  }
}
.body__main--2 .main__form .form__field--1 .field__edad {
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
@media screen and (max-width: 700px) {
  .body__main--2 .main__form .form__field--1 .field__edad {
    margin: 1%;
  }
}
@media screen and (max-width: 500px) {
  .body__main--2 .main__form .form__field--1 .field__edad {
    font-size: 0.8em;
  }
}
.body__main--2 .main__form .form__field--1 .field__email {
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
@media screen and (max-width: 700px) {
  .body__main--2 .main__form .form__field--1 .field__email {
    margin: 1%;
  }
}
@media screen and (max-width: 500px) {
  .body__main--2 .main__form .form__field--1 .field__email {
    font-size: 0.8em;
  }
}
.body__main--2 .main__form .form__field--1 .field__tel {
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
@media screen and (max-width: 700px) {
  .body__main--2 .main__form .form__field--1 .field__tel {
    margin: 1%;
  }
}
@media screen and (max-width: 500px) {
  .body__main--2 .main__form .form__field--1 .field__tel {
    font-size: 0.8em;
  }
}
.body__main--2 .main__form .form__field--1 .field__estado {
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
@media screen and (max-width: 700px) {
  .body__main--2 .main__form .form__field--1 .field__estado {
    margin: 1%;
  }
}
@media screen and (max-width: 500px) {
  .body__main--2 .main__form .form__field--1 .field__estado {
    font-size: 0.8em;
  }
}
.body__main--2 .main__form .form__field--1 .field__ciudad {
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
@media screen and (max-width: 700px) {
  .body__main--2 .main__form .form__field--1 .field__ciudad {
    margin: 1%;
  }
}
@media screen and (max-width: 500px) {
  .body__main--2 .main__form .form__field--1 .field__ciudad {
    font-size: 0.8em;
  }
}
.body__main--2 .main__form .form__field--2 {
  grid-area: field2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5%;
  margin: 5%;
  background-color: #000000;
  color: #F4F4F4;
}
@media screen and (max-width: 850px) {
  .body__main--2 .main__form .form__field--2 {
    margin: 1%;
  }
}
@media screen and (max-width: 700px) {
  .body__main--2 .main__form .form__field--2 {
    padding: 1%;
  }
}
.body__main--2 .main__form .form__field--2 .field__legend {
  font-size: 1.5em;
}
@media screen and (max-width: 700px) {
  .body__main--2 .main__form .form__field--2 .field__legend {
    padding: 5%;
    font-size: 1em;
  }
}
@media screen and (max-width: 500px) {
  .body__main--2 .main__form .form__field--2 .field__legend {
    font-size: 0.9em;
  }
}
.body__main--2 .main__form .form__field--2 .field__servicio {
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
@media screen and (max-width: 700px) {
  .body__main--2 .main__form .form__field--2 .field__servicio {
    margin: 1%;
  }
}
@media screen and (max-width: 500px) {
  .body__main--2 .main__form .form__field--2 .field__servicio {
    font-size: 0.8em;
  }
}
.body__main--2 .main__form .form__field--2 .field__evento {
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
@media screen and (max-width: 700px) {
  .body__main--2 .main__form .form__field--2 .field__evento {
    margin: 1%;
  }
}
@media screen and (max-width: 500px) {
  .body__main--2 .main__form .form__field--2 .field__evento {
    font-size: 0.8em;
  }
}
.body__main--2 .main__form .form__field--2 .field__fecha {
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
@media screen and (max-width: 700px) {
  .body__main--2 .main__form .form__field--2 .field__fecha {
    margin: 1%;
  }
}
@media screen and (max-width: 500px) {
  .body__main--2 .main__form .form__field--2 .field__fecha {
    font-size: 0.8em;
  }
}
.body__main--2 .main__form .form__field--2 .field__asistentes {
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
@media screen and (max-width: 700px) {
  .body__main--2 .main__form .form__field--2 .field__asistentes {
    margin: 1%;
  }
}
@media screen and (max-width: 500px) {
  .body__main--2 .main__form .form__field--2 .field__asistentes {
    font-size: 0.8em;
  }
}
.body__main--2 .main__form .form__field--2 .field__comentarios {
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
@media screen and (max-width: 700px) {
  .body__main--2 .main__form .form__field--2 .field__comentarios {
    margin: 1%;
  }
}
@media screen and (max-width: 500px) {
  .body__main--2 .main__form .form__field--2 .field__comentarios {
    font-size: 0.8em;
  }
}
.body__main--2 .main__form .form__field--3 {
  grid-area: field3;
  background-color: #000000;
  grid-area: field3;
  text-align: center;
  padding: 1%;
}
.body__main--2 .main__form .form__field--3 .field__legend {
  font-size: 1.5em;
}
@media screen and (max-width: 700px) {
  .body__main--2 .main__form .form__field--3 .field__legend {
    padding: 5%;
    font-size: 1em;
  }
}
@media screen and (max-width: 500px) {
  .body__main--2 .main__form .form__field--3 .field__legend {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 500px) {
  .body__main--2 .main__form .form__field--3 .field__cancelar {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 500px) {
  .body__main--2 .main__form .form__field--3 .field__borrar {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 500px) {
  .body__main--2 .main__form .form__field--3 .field__enviar {
    font-size: 0.8em;
  }
}

.body__footer--2 {
  background-color: #F4F4F4;
  grid-area: footer2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body__footer--2 p {
  font-size: 1.5em;
}
@media screen and (max-width: 700px) {
  .body__footer--2 p {
    font-size: 1em;
  }
}
@media screen and (max-width: 500px) {
  .body__footer--2 p {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 400px) {
  .body__footer--2 p {
    font-size: 0.5em;
  }
}

/*# sourceMappingURL=styles.css.map */
