* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  list-style-type: none;
  border: none;
  text-decoration: none;
}

.body {
  background-color: #F4F4F4;
  width: 100%;
  height: 319vh;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 99vh 200vh 20vh;
  grid-template-areas: "headerindx headerindx headerindx" ". mainindx ." "footer footer footer";
}
.body .body__encabezado {
  display: grid;
  grid-area: headerindx;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 49vh 50vh;
  grid-template-areas: "nav logo ." "nav titulo .";
}
.body .body__maini {
  background-color: #000000;
  color: #F4F4F4;
  display: grid;
  grid-area: mainindx;
  grid-template-columns: 100%;
  grid-template-rows: 100vh 100vh;
  grid-template-areas: "seccunoindx" "seccdosindx";
}
.body .body__footer {
  background-color: #E9AE27;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-area: footer;
  grid-template-columns: 100%;
  grid-template-rows: 40% 60%;
  grid-template-areas: "footp" "footdrs";
}

.encabezado__logo {
  grid-area: logo;
  text-align: center;
  padding: 5%;
}
.encabezado__logo .logo__imagen {
  width: 30vh;
}

.encabezado__nav {
  grid-area: nav;
  position: fixed;
  top: 25vh;
  width: 5%;
  text-align: center;
}
.encabezado__nav .nav__lista .lista__item .item__ico {
  width: 100%;
  padding: 10%;
}
.encabezado__nav .nav__lista .lista__item .item__enlace .enlace__ico {
  width: 100%;
  padding: 10%;
}
.encabezado__titulo {
  grid-area: titulo;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 3em;
  padding: 2%;
}

.main1__seccionunoi {
  display: grid;
  grid-area: seccunoindx;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "seccunoindxtxt seccunoindximg";
}
.main1__seccionunoi .seccionunoi__textoi {
  grid-area: seccunoindxtxt;
  padding: 10%;
  flex-direction: column;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.main1__seccionunoi .seccionunoi__textoi .textoi__subi {
  font-size: 2.5em;
  padding: 2%;
}
.main1__seccionunoi .seccionunoi__textoi .textoi__pi {
  font-size: 1.5em;
  padding: 2%;
}
.main1__seccionunoi .seccionunoi__imageni {
  grid-area: seccunoindximg;
  padding: 10%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.main1__seccionunoi .seccionunoi__imageni .imagen1__img1 {
  width: 100%;
  border-radius: 1%;
}

.main1__secciondosi {
  background-color: #F4F4F4;
  display: grid;
  grid-area: seccunoindx;
  grid-template-columns: 100%;
  grid-template-rows: 25% 75%;
  grid-template-areas: "seccdosindxsub" "seccdosindxserv";
}
.main1__secciondosi .secciondosi__subi {
  grid-area: seccdosindxsub;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.main1__secciondosi .secciondosi__serviciosi {
  display: grid;
  grid-area: seccdosindxserv;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 90%;
  grid-template-areas: "coff yumm bits";
  justify-content: center;
  align-items: center;
  gap: 1%;
}
.main1__secciondosi .secciondosi__serviciosi .serviciosi__enlacei--coff {
  grid-area: coff;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  grid-area: coff;
  background-image: url(../assets/images/fondocoff.webp);
}
.main1__secciondosi .secciondosi__serviciosi .serviciosi__enlacei--coff .enlacei__urli {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
}
.main1__secciondosi .secciondosi__serviciosi .serviciosi__enlacei--coff .enlacei__urli .urli__imageni {
  width: 50%;
  display: none;
}
.main1__secciondosi .secciondosi__serviciosi .serviciosi__enlacei--yumm {
  grid-area: coff;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  grid-area: yumm;
  background-image: url(../assets/images/fondoyumm.webp);
}
.main1__secciondosi .secciondosi__serviciosi .serviciosi__enlacei--yumm .enlacei__urli {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
}
.main1__secciondosi .secciondosi__serviciosi .serviciosi__enlacei--yumm .enlacei__urli .urli__imageni {
  width: 50%;
  display: none;
}
.main1__secciondosi .secciondosi__serviciosi .serviciosi__enlacei--bits {
  grid-area: coff;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  grid-area: bits;
  background-image: url(../assets/images/fondobits.webp);
}
.main1__secciondosi .secciondosi__serviciosi .serviciosi__enlacei--bits .enlacei__urli {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
}
.main1__secciondosi .secciondosi__serviciosi .serviciosi__enlacei--bits .enlacei__urli:hover {
  backdrop-filter: blur(30px);
  backdrop-filter: invert(40%);
}
.main1__secciondosi .secciondosi__serviciosi .serviciosi__enlacei--bits .enlacei__urli .urli__imageni {
  width: 50%;
  display: none;
}

/*# sourceMappingURL=styles.css.map */
