* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  list-style-type: none;
  border: none;
  text-decoration: none;
}

.body {
  background-color: #F4F4F4;
  width: 100%;
  height: 319vh;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 99vh 200vh 20vh;
  grid-template-areas: "headerindx headerindx headerindx" ". mainindx ." "footer footer footer";
}
@media screen and (max-width: 200px) {
  .body {
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 30vh 60vh 10vh;
    grid-template-areas: "headerindx" "mainindx" "footer";
  }
}
.body .body__encabezado {
  display: grid;
  grid-area: headerindx;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 49vh 50vh;
  grid-template-areas: "nav logo ." "nav titulo .";
}
@media screen and (max-width: 200px) {
  .body .body__encabezado {
    grid-template-columns: 100%;
    grid-template-rows: 5vh 10vh 15vh;
    grid-template-areas: "nav" "logo" "titulo";
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
}
.body .body__maini {
  background-color: #000000;
  color: #F4F4F4;
  display: grid;
  grid-area: mainindx;
  grid-template-columns: 100%;
  grid-template-rows: 100vh 100vh;
  grid-template-areas: "seccunoindx" "seccdosindx";
}
@media screen and (max-width: 200px) {
  .body .body__maini {
    grid-template-columns: 100%;
    grid-template-rows: 30vh 30vh;
  }
}
.body .body__footer {
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: #E9AE27;
  grid-area: footer;
  grid-template-columns: 100%;
  grid-template-rows: 10vh 10vh;
  grid-template-areas: "footp" "footdrs";
}
@media screen and (max-width: 200px) {
  .body .body__footer {
    grid-template-columns: 100%;
    grid-template-rows: 5vh 5vh;
  }
}

.encabezado__logo {
  grid-area: logo;
  text-align: center;
  padding: 5%;
}
@media screen and (max-width: 200px) {
  .encabezado__logo {
    padding: 2%;
  }
}
.encabezado__logo .logo__imagen {
  width: 30vh;
}
@media screen and (max-width: 200px) {
  .encabezado__logo .logo__imagen {
    width: 10vh;
  }
}

.encabezado__nav {
  grid-area: nav;
  position: fixed;
  top: 25vh;
  width: 5%;
  text-align: center;
}
@media screen and (max-width: 200px) {
  .encabezado__nav {
    top: 0;
    width: 100%;
    height: 5vh;
  }
}
@media screen and (max-width: 200px) {
  .encabezado__nav .nav__lista {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 200px) {
  .encabezado__nav .nav__lista .lista__item {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
}
.encabezado__nav .nav__lista .lista__item .item__ico {
  width: 100%;
  padding: 10%;
}
@media screen and (max-width: 200px) {
  .encabezado__nav .nav__lista .lista__item .item__ico {
    width: 50%;
  }
}
@media screen and (max-width: 200px) {
  .encabezado__nav .nav__lista .lista__item .item__enlace {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
}
.encabezado__nav .nav__lista .lista__item .item__enlace .enlace__ico {
  width: 100%;
  padding: 10%;
}
@media screen and (max-width: 200px) {
  .encabezado__nav .nav__lista .lista__item .item__enlace .enlace__ico {
    width: 50%;
  }
}
@media screen and (max-width: 200px) {
  .encabezado__nav .nav__lista .lista__item .item__enlace .enlace__ico {
    width: 50%;
  }
}
@media screen and (max-width: 200px) {
  .encabezado__nav .nav__lista .lista__item .item__enlace .enlace__ico {
    width: 50%;
  }
}
@media screen and (max-width: 200px) {
  .encabezado__nav .nav__lista .lista__item .item__enlace .enlace__ico {
    width: 50%;
  }
}

.encabezado__titulo {
  grid-area: titulo;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 3em;
  padding: 2%;
}
@media screen and (max-width: 200px) {
  .encabezado__titulo {
    font-size: 0.8571428571em;
  }
}

.maini__seccionunoi {
  display: grid;
  grid-area: seccunoindx;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "seccunoindxtxt seccunoindximg";
}
.maini__seccionunoi .seccionunoi__textoi {
  grid-area: seccunoindxtxt;
  padding: 10%;
  flex-direction: column;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.maini__seccionunoi .seccionunoi__textoi .textoi__subi {
  font-size: 2.5em;
  padding: 2%;
}
.maini__seccionunoi .seccionunoi__textoi .textoi__pi {
  font-size: 1.5em;
  padding: 2%;
}
.maini__seccionunoi .seccionunoi__imageni {
  grid-area: seccunoindximg;
  padding: 10%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.maini__seccionunoi .seccionunoi__imageni .imageni__imgi {
  width: 100%;
  border-radius: 1%;
}

.maini__secciondosi {
  background-color: #F4F4F4;
  display: grid;
  grid-area: seccdosindx;
  grid-template-columns: 100%;
  grid-template-rows: 25% 75%;
  grid-template-areas: "seccdosindxsub" "seccdosindxserv";
}
.maini__secciondosi .secciondosi__subi {
  grid-area: seccdosindxsub;
  font-size: 2.5em;
  color: #000000;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.maini__secciondosi .secciondosi__serviciosi {
  display: grid;
  grid-area: seccdosindxserv;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 90%;
  grid-template-areas: "coff yumm bits";
  justify-content: center;
  align-items: center;
  gap: 1%;
}
.maini__secciondosi .secciondosi__serviciosi .serviciosi__enlacei--coff {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  grid-area: coff;
  background-image: url(../assets/images/fondocoff.webp);
}
.maini__secciondosi .secciondosi__serviciosi .serviciosi__enlacei--coff .enlacei__urli {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
}
.maini__secciondosi .secciondosi__serviciosi .serviciosi__enlacei--coff .enlacei__urli .urli__imageni {
  width: 50%;
}
.maini__secciondosi .secciondosi__serviciosi .serviciosi__enlacei--coff .enlacei__urli .urli__imageni .imageni__imgi {
  width: 100%;
  border-radius: 1%;
}
.maini__secciondosi .secciondosi__serviciosi .serviciosi__enlacei--yumm {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  grid-area: yumm;
  background-image: url(../assets/images/fondoyumm.webp);
}
.maini__secciondosi .secciondosi__serviciosi .serviciosi__enlacei--yumm .enlacei__urli {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
}
.maini__secciondosi .secciondosi__serviciosi .serviciosi__enlacei--yumm .enlacei__urli .urli__imageni {
  width: 50%;
}
.maini__secciondosi .secciondosi__serviciosi .serviciosi__enlacei--yumm .enlacei__urli .urli__imageni .imageni__imgi {
  width: 100%;
  border-radius: 1%;
}
.maini__secciondosi .secciondosi__serviciosi .serviciosi__enlacei--bits {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  grid-area: bits;
  background-image: url(../assets/images/fondobits.webp);
}
.maini__secciondosi .secciondosi__serviciosi .serviciosi__enlacei--bits .enlacei__urli {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
}
.maini__secciondosi .secciondosi__serviciosi .serviciosi__enlacei--bits .enlacei__urli .urli__imageni {
  width: 50%;
}
.maini__secciondosi .secciondosi__serviciosi .serviciosi__enlacei--bits .enlacei__urli .urli__imageni .imageni__imgi {
  width: 100%;
  border-radius: 1%;
}

.footer__sub {
  grid-area: footp;
  font-size: 1.25em;
}

.footer__derechosautori {
  display: grid;
  width: 100%;
  justify-items: center;
  font-size: 0.75em;
  grid-area: footdrs;
  grid-template-columns: 100%;
  grid-template-rows: 3vh 7vh;
  grid-template-areas: "drcsub" "drcparr";
}
.footer__derechosautori .derechosautori__subi {
  grid-area: drcsub;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.footer__derechosautori .derechosautori__parrafosi {
  font-size: 1.5em;
  grid-area: drcparr;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100%;
  grid-template-areas: "drcpuno drcpdos drcptres";
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.footer__derechosautori .derechosautori__parrafosi .parrafosi__pi--1 {
  grid-area: drcpuno;
}
.footer__derechosautori .derechosautori__parrafosi .parrafosi__pi--2 {
  grid-area: drcpdos;
}
.footer__derechosautori .derechosautori__parrafosi .parrafosi__pi--3 {
  grid-area: drcptres;
}

/*# sourceMappingURL=styles.css.map */
