// paleta de colores index
$colorfondoindx: #F4F4F4;
$colormainindx: #000000;
$colormainseccdosindx: #F4F4F4;
$colorfooterindx: #E9AE27;

// colores de texto index
$colortxtmainindx: #F4F4F4;
$colortxtmainseccsdosindx: #000000;

// tamaños texto 

$titulo-font-size: 3em;
$subtitulo-font-size: 2.5em;
$parrafo-font-size: 1.5em;

