              // paleta de colores index y coffemex
$colorfondoindx: #F4F4F4;
$colorfondocoff: #030b12;
$colorfondoyumm: #fffbec;
$colorfondobits: #e6e9f1;

$colorfondocont: #ffffff;
$colorfondolegen: #c8b6a8;
$colormainindx: #000000;
$colormainyumm: #694300;
$colormainbits: #e6e9f1;
$colormainseccdosindx: #F4F4F4;
$colorseccdosyumm: #c4a328;
$colorseccdosbits: #e8b98f;
$colorcontactobits: #e8b98f;
$colormaincoff: #030b12;
$colorcontactocoff: #ffc107;
$colorfooterindx: #000000;
$colorfootercoff: #f4f4f4;
$colorfooteryumm: #694300;
$colorfooterbits: #35271e;
$colorfootercont: #232c2e;
$colorfondoiconindx: #efb524;
$colorfondoiconcoff: #f4f4f4;
// colores de texto index, coffemex
$colortxtmainindx: #F4F4F4;
$colortxttitulocoff: #ffc107;
$colortxttituloyumm: #694300;
$colortxttitulobits: #35271e;
$colortxttitulocont: #192022;
$colortxtinfoyumm: #fffbec;
$colortxtinfobits: #35271e;
$colortxtmainyumm: #fffbec;
$colortxtmainbits: #35271e;
;
$colortxtseccdosyumm: #fffbec;
$colortxtcontactoyumm: #694300;
$colortxtenlacesyumm: #c4a328;
$colortxtenlacesbits: #e6e9f1;
$colortxtenlacescont: #75675f;
$colortxtenlacesfooterbits: #e8b98f;
$colortxtmaincoff: #ffc107;
$colortxtmaincont: #eee2db;
$colortxtmainseccdoscoff: #030b12;
$colortxtpreguntascoff: #ffc107;
$colortxtinfocoff: #f4f4f4;
$colortxtcontactocoff: #030b12;
$colorenlacecontactocoff: #f4f4f4;
$colorenlacefootercoff: #ffc107;
$colorenlacefooterindx: #f4f4f4;
$colortxtfooterindx: #efb524;
$colortxtfootercoff: #030b12;
$colortxtfooteryumm: #fffbec;
$colortxtfooterbits: #e6e9f1;
$colortxtfootercont: #ffffff;
$colortxtmainseccsdosindx: #000000;

// tamaños texto 

$titulo-font-size: 2em;
$subtitulo-font-size: 1.9em;
$parrafo-font-size: 1em;

