              // paleta de colores index y coffemex
$colorfondoindx: #F4F4F4;
$colorfondocoff: #030b12;
$colormainindx: #000000;
$colormainseccdosindx: #F4F4F4;
$colormaincoff: #030b12;
$colorcontactocoff: #ffc107;
$colorfooterindx: #000000;
$colorfootercoff: #f4f4f4;
$colorfondoiconindx: #efb524;
$colorfondoiconcoff: #f4f4f4;
// colores de texto index, coffemex
$colortxtmainindx: #F4F4F4;
$colortxttitulocoff: #ffc107;
$colortxtmaincoff: #ffc107;
$colortxtmainseccdoscoff: #030b12;
$colortxtpreguntascoff: #ffc107;
$colortxtinfocoff: #f4f4f4;
$colortxtcontactocoff: #030b12;
$colorenlacecontactocoff: #f4f4f4;
$colorenlacefootercoff: #ffc107;
$colorenlacefooterindx: #f4f4f4;
$colortxtfooterindx: #efb524;
$colortxtfootercoff: #030b12;
$colortxtmainseccsdosindx: #000000;

// tamaños texto 

$titulo-font-size: 2em;
$subtitulo-font-size: 1.9em;
$parrafo-font-size: 1em;

