.body--1 {
    background-color: $colorfondo;
    width: $ancho100;
    height: 209vh;
    display: grid;
    grid-template-columns: $gridtcol;
    grid-template-rows: 99vh 100vh 10vh;
    grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer"
    ;
    margin-top: .5%;
    grid-row: .5%;
}