.encabezado__logo {
    grid-area: logo;
    text-align: center;
    padding: 5%;
    .logo__imagen {
        width: 30vh;
    }
}
.encabezado__nav {
    @include estr-header-nav-i;
    @include breakpoint800 {
        top: 0;
        width: 100%;
    }
    @include breakpoint200 {
        top: 0;
        width: 100%;
        height: 5vh;
    }
    .nav__lista {
        @include breakpoint800 {
            @include center-flex;
            background-color: #f4f4f4;
        }
        .lista__item {
            @include breakpoint800 {
                @include center-flex;
            }
            .item__ico {
                @include tamiconosnav;
                @include breakpoint800 {
                    width: 50%;            
                }
            }
        }
        .lista__item {
            .item__enlace {
                @include breakpoint800 {
                    @include center-flex;
                }
                .enlace__ico {
                    @include tamiconosnav;
                    @include breakpoint800 {
                        width: 50%;            
                    }
                }
            }
        }
        .lista__item {
            .item__enlace {
                .enlace__ico {
                    @include breakpoint800 {
                        width: 50%;            
                    }
                }
            }
        }
        .lista__item {
            .item__enlace {
                .enlace__ico {
                    @include breakpoint800 {
                        width: 50%;            
                    }
                }
            }
        }
        .lista__item {
            .item__enlace {
                .enlace__ico {
                    @include breakpoint800 {
                        width: 50%;            
                    }
                }
            }
        }
    }

}
.encabezado__titulo {
    grid-area: titulo;
    @include center-flex;
    padding: 2%;
    font-size: $titulo-font-size;
    @include breakpoint5000 {
        font-size: $titulo-font-size*3;
    }
    @include breakpoint3700 {
        font-size: $titulo-font-size*2;
    }
    @include breakpoint2500 {
        font-size: $titulo-font-size*1.5;
    }
    @include breakpoint1900 {
        font-size: $titulo-font-size;
    }
    @include breakpoint1100 {
        font-size: $titulo-font-size/1.5;
    }
    @include breakpoint800 {
        font-size: $titulo-font-size/2;
    }
    @include breakpoint600 {
        font-size: $titulo-font-size/2.5;
    }
    @include breakpoint450 {
        font-size: $titulo-font-size/3;
    }
}