* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    list-style-type: none;
    border: none;
}

.body {
    background-color: $colorfondo;
    width: $ancho100;
    height: 209vh;
    display: grid;
    grid: {
        template-columns: $gridtcol;
        template-rows: 99vh 100vh 10vh;
        template-areas:
        "header header header"
        ". main ."
        "footer footer footer";
        row: .5%;
    }
    margin-top: .5%;
}
