.body--1 {
    background-color: $colorfondo;
    width: $ancho100;
    height: 209vh;
    display: grid;
    grid: {
        template-columns: $gridtcol;
        template-rows: 99vh 100vh 10vh;
        template-areas:
        "header header header"
        ". main ."
        "footer footer footer"
         ;
        row: .5%;
    }
    margin-top: .5%;
}
