.body__encabezado {
    background-color: $colorfondo;
    height: 99vh;
    grid: {
        area: header;
        template-columns: $gridtcol;
        template-rows: 49vh 50vh;
        template-areas:
        "nav logo ."
        "nav h1 ."
         ;
    }
    display: grid;
    .encabezado__logo {
        background-color: $colorfondo;
        grid-area: logo;
        text-align: $alineacioncentro;
        padding: 10vh;
        .logo__imagen {
            width: $ancho30;

        }
    }
    .encabezado__nav {
        background-color: $colorfondo;
        grid-area: nav;
        position: fixed;
        top: 25vh;
        width: $ancho100/20;
        text-align: $alineacioncentro;
        .nav__lista {
            .lista__item {
                .item__enlace {
                    .enlace__ico {
                        width: $ancho100;
                        padding: $padding100/10;
                    }
                }
            }
            .lista__item {
                .enlace__ico {
                    width: $ancho100;
                    padding: $padding100/10;
                    }
            }
            .lista__item {
                .item__enlace {
                    .enlace__ico {
                        width: $ancho100;
                        padding: $padding100/10;
                    }
                }
            }
            .lista__item {
                .item__enlace {
                    .enlace__ico {
                        width: $ancho100;
                        padding: $padding100/10;
                    }
                }
            }
            .lista__item {
                .item__enlace {
                    .enlace__ico {
                        width: $ancho100;
                        padding: $padding100/10;
                    }
                }
            }
        }
    }
    .encabezado__titulo {
        display: flex;
        align-items: $alineacioncentro;
        font-size: $tamatexto1*2;
        background-color: $colorfondo;
        grid-area: h1;
        text-align: $alineacioncentro;
        justify-content: $alineacioncentro;
        padding: $padding100/50; 
    }
}