.body__main--1 {
    background-color: $colorfondonegro;
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50vh 50vh;
    grid-template-areas:
    "main1h2 main1h2"
    "main1p main1p"
    ;
    align-items: $alineacioncentro;
    color: $colorfondo;
    .main__h2--1 {
        grid-area: main1h2;
        font-size: $tamatexto1*2;
        text-align: $alineacioncentro;
        padding: $padding100/100;
        // padding-bottom: 0;
    }
    .main__p--1 {
        grid-area: main1p;
        font-size: $tamatexto1*2;
        text-align: $alineacioncentro;
        padding: $padding100/20;
        // padding-top: 0;
    }
}