.body__footer--2 {
    @include estr-footer-grid-c;
    p {
        font-size: $tamatexto1*1.5;
        @include breakpoint700 {
            font-size: $tamatexto1;
        }
        @include breakpoint500 {
            font-size: .8em;
        }
    }
}
