.body__main {
    @include estr-main-i;
    .main__h2 {
        grid-area: mainh2;
        font-size: $tamatexto1*3;
        @include estr-maintxt-icyb;
       
    }
    .main__p {
        grid-area: mainp;
        font-size: $tamatexto1*2;
        @include estr-maintxt-icyb;
    }
    .main__imagen {
        @include estr-mainimg-i;
        .imagen__img {
            width: $ancho100;
        }
    }
}