.body__main {
    @include estr-main-i;
    @include breakpoint400 {
        grid-template-rows: 15vh 15vh 20vh;
    }
    .main__h2 {
        grid-area: mainh2;
        font-size: $tamatexto1*3;
        @include estr-maintxt-icyb;
        @include breakpoint850 {
            font-size: $tamatexto1*2;
            padding: 5%;
        }
        @include breakpoint700 {
            font-size: $tamatexto1*1.5;
            text-align: $alineacioncentro;
            padding: 5%;
        }
        @include breakpoint500 {
            grid-area: mainh2;
            font-size: $tamatexto1;
            text-align: $alineacioncentro;
            padding: $padding100/20;
        }
        @include breakpoint400 {
            font-size: .7em;
        }
    }
    .main__p {
        grid-area: mainp;
        font-size: $tamatexto1*2;
        @include estr-maintxt-icyb;
        @include breakpoint850 {
            font-size: 2em;
            padding: 5%;
        }
        @include breakpoint700 {
            font-size: $tamatexto1*1.5;
            text-align: $alineacioncentro; 
        }
        @include breakpoint500 {
            font-size: $tamatexto1;
        }
        @include breakpoint400 {
            font-size: .7em;
        }
    }
    .main__imagen {
        @include estr-mainimg-i;
        @include breakpoint700 {
            width: $ancho30;
        }
        @include breakpoint400 {
            width: $ancho30;
        }
        .imagen__img {
            width: $ancho100;
        }
    }
}