.body__main--1 {
    @include estr-main-cyb;
    @include breakpoint450 {
         grid-template-rows: 25vh 25vh;
    }
    .main__h2--1 {
        grid-area: main1h2;
        font-size: $tamatexto1*2;
        @include estr-maintxt-icyb;
        @include breakpoint700 {
            font-size: $tamatexto1*1.5;
        }
        @include breakpoint500 {
            font-size: $tamatexto1;
        }
        @include breakpoint450 {
            font-size: $tamatexto1;
            padding-bottom: 0;
        }
        @include breakpoint400 {
            font-size: .7em;
        }
        
    }
    .main__p--1 {
        grid-area: main1p;
        font-size: $tamatexto1*2;
        @include estr-maintxt-icyb;
        @include breakpoint700 {
            font-size: $tamatexto1*1.5;
        }
        @include breakpoint500 {
            font-size: $tamatexto1;
        }
        @include breakpoint450 {
            font-size: $tamatexto1;
            padding-top: 0;
        }
        @include breakpoint400 {
            font-size: .6em;
        }
    }
}