// colores
$colorfondo:  #F4F4F4F4;
$colorfondomain:  #000000;

// Medidas
$ancho100: 100%;
$ancho30: 30vh;


// estructuras grid
$medida5-90-5gridcol: 5% 90% 5%;
$medida100gridcol: 100%;


// texto
$tamañoletra: 1em;

// alineacion
$marginauto: auto;
$alineacion: center;
