// colores
$colorfondo: #F4F4F4;
$colorfondonegro: #000000;
$colortexto: #F4F4F4;


// dimensiones 
$ancho100: 100%;
$ancho30: 30vh;
$ancho50: 50vh;
$padding100: 100%;


// estructuras grid 
$gridtcol: 5% 90% 5%;

// alineacion 
$mariginauto: auto;
$alineacioncentro: center;

// texto
$tamatexto1: 1em;