.footer__p{
    grid-area: footp;
    @include breakpoint5000 {
        font-size: $parrafo-font-size*3;
    }
    @include breakpoint3700 {
        font-size: $parrafo-font-size*2.5;
    }
    @include breakpoint2500 {
        font-size: $parrafo-font-size*2;
    }
    @include breakpoint1900 {
        font-size: $parrafo-font-size;
    }
    @include breakpoint1100 {
        font-size: $parrafo-font-size/1.5;
    }
    @include breakpoint600 {
        font-size: $parrafo-font-size/2;
    }
    @include breakpoint450 {
        font-size: $parrafo-font-size/2.5;
    }
}
.footer__derechosautori {
    @include estr-foot-dra-i;
    .derechosautori__subi {
        grid-area: drcsub;
        @include center-flex;
    }
    @include breakpoint5000 {
        font-size: $subtitulo-font-size/2.5;
    }
    @include breakpoint3700 {
        font-size: $subtitulo-font-size/3;
    }
    @include breakpoint2500 {
        font-size: $subtitulo-font-size/3.5;
    }
    @include breakpoint1900 {
        font-size: $subtitulo-font-size/4;
    }
    @include breakpoint1100 {
        font-size: $subtitulo-font-size/4.5;
    }
    @include breakpoint600 {
        font-size: $subtitulo-font-size/5;
    }
    @include breakpoint450 {
        font-size: $subtitulo-font-size/5.5;
    }
    
    .derechosautori__parrafosi {
        @include estr-foot-dra-parr-i;
        @include center-grid;
        .parrafosi__pi--1 {
            grid-area: drcpuno;
            a {
                color: #f4f4f4;
            }
        }
        .parrafosi__pi--2 {
            grid-area: drcpdos;
            a {
                color: #f4f4f4;
            }
        }
        .parrafosi__pi--3 {
            grid-area: drcptres;
            a {
                color: #f4f4f4;
            }
        }
    }
    
}