@mixin font-titulos {
    @include breakpoint5000 {
        font-size: $titulo-font-size*3;
        }
        @include breakpoint4200 {
        font-size: $titulo-font-size*2.5;
        }
        @include breakpoint3400 {
            font-size: $titulo-font-size*2;
        }
        @include breakpoint2600 {
            font-size: $titulo-font-size*1.5;
        }
        @include breakpoint1800 {
            font-size: $titulo-font-size;
        }
        @include breakpoint1000 {
            font-size: $titulo-font-size/1.5;
        }
        @include breakpoint600 {
            font-size: $titulo-font-size/2;
        }
        @include breakpoint450 {
            font-size: $titulo-font-size/3;
        }
}
@mixin font-subtitulos {
    @include breakpoint5000 {
        font-size: $subtitulo-font-size*3.5;
        }
        @include breakpoint4200 {
        font-size: $subtitulo-font-size*3;
        }
        @include breakpoint3400 {
            font-size: $subtitulo-font-size*2.5;
        }
        @include breakpoint2600 {
            font-size: $subtitulo-font-size*2;
        }
        @include breakpoint1800 {
            font-size: $subtitulo-font-size*1.5;
        }
        @include breakpoint1000 {
            font-size: $subtitulo-font-size;
        }
        @include breakpoint600 {
            font-size: $subtitulo-font-size/1.5;
        }
        @include breakpoint450 {
            font-size: $subtitulo-font-size/2;
        }
}
@mixin font-parrafos {
    @include breakpoint5000 {
        font-size: $parrafo-font-size*3.5;
        }
        @include breakpoint4200 {
        font-size: $parrafo-font-size*3;
        }
        @include breakpoint3400 {
            font-size: $parrafo-font-size*2.5;
        }
        @include breakpoint2600 {
            font-size: $parrafo-font-size*2;
        }
        @include breakpoint1800 {
            font-size: $parrafo-font-size*1.5;
        }
        @include breakpoint1000 {
            font-size: $parrafo-font-size;
        }
        @include breakpoint600 {
            font-size: $parrafo-font-size/1.5;
        }
        @include breakpoint450 {
            font-size: $parrafo-font-size/2;
        }
}
@mixin font-parrafos-ch {
    @include breakpoint5000 {
        font-size: $parrafo-font-size*3;
        }
        @include breakpoint4200 {
        font-size: $parrafo-font-size*2.5;
        }
        @include breakpoint3400 {
            font-size: $parrafo-font-size*2;
        }
        @include breakpoint2600 {
            font-size: $parrafo-font-size*1.5;
        }
        @include breakpoint1800 {
            font-size: $parrafo-font-size;
        }
        @include breakpoint1000 {
            font-size: $parrafo-font-size/1.5;
        }
        @include breakpoint600 {
            font-size: $parrafo-font-size/2;
        }
        @include breakpoint450 {
            font-size: $parrafo-font-size/2.5;
        }
}
@mixin font-subtitulos-ch {
    @include breakpoint5000 {
        font-size: $subtitulo-font-size*3;
        }
        @include breakpoint4200 {
        font-size: $subtitulo-font-size*2.5;
        }
        @include breakpoint3400 {
            font-size: $subtitulo-font-size*2;
        }
        @include breakpoint2600 {
            font-size: $subtitulo-font-size*1.5;
        }
        @include breakpoint1800 {
            font-size: $subtitulo-font-size;
        }
        @include breakpoint1000 {
            font-size: $subtitulo-font-size/1.5;
        }
        @include breakpoint600 {
            font-size: $subtitulo-font-size/2;
        }
        @include breakpoint450 {
            font-size: $subtitulo-font-size/2.5;
        }
}
@mixin font-subtitulos-cont {
    @include breakpoint5000 {
        font-size: 2.5em;
        }
        @include breakpoint4200 {
        font-size: 2.3em;
        }
        @include breakpoint3400 {
            font-size: 2.1em;
        }
        @include breakpoint2600 {
            font-size:1.9em      
        }
        @include breakpoint1800 {
            font-size: 1em;
        }
        @include breakpoint1000 {
            font-size: 1em        
        }
        @include breakpoint600 {
            font-size: .9em;
        }
        @include breakpoint450 {
            font-size: .8em        
        }
}
@mixin font-parrafos-cont {
    @include breakpoint5000 {
        font-size: 2em;
        }
        @include breakpoint4200 {
        font-size: 1.8em;
        }
        @include breakpoint3400 {
            font-size: 1.6em;
        }
        @include breakpoint2600 {
            font-size: 1.4em;      
        }
        @include breakpoint1800 {
            font-size: 1.2em;
        }
        @include breakpoint1000 {
            font-size: 1.2em;        
        }
        @include breakpoint600 {
            font-size: 1.2em;
        }
        @include breakpoint450 {
            font-size: 1em        
        }
}
@mixin font-parrafos-cont-ch {
    @include breakpoint5000 {
        font-size: 1em;
        }
        @include breakpoint4200 {
        font-size: .9em;
        }
        @include breakpoint3400 {
            font-size: .7em;
        }
        @include breakpoint2600 {
            font-size: .6em;     
        }
        @include breakpoint1800 {
            font-size: .6em;
        }
        @include breakpoint1000 {
            font-size: .6em;         
        }
        @include breakpoint600 {
            font-size: .6em;
        }
        @include breakpoint450 {
            font-size: .6em;        
        }
}



@mixin breakpoint5000 {
    @media screen and (max-width: 5000px) {
        @content;
    }

}
@mixin breakpoint4200 {
    @media screen and (max-width: 4200px) {
        @content;
    }

}
@mixin breakpoint3700 {
    @media screen and (max-width: 3700px) {
        @content;
    }

}
@mixin breakpoint3400 {
    @media screen and (max-width: 3400px) {
        @content;
    }

}
@mixin breakpoint2600 {
    @media screen and (max-width: 2600px) {
        @content;
    }

}
@mixin breakpoint2500 {
    @media screen and (max-width: 2500px) {
        @content;
    }

}
@mixin breakpoint1800 {
    @media screen and (max-width: 1800px) {
        @content;
    }

}
@mixin breakpoint1900 {
    @media screen and (max-width: 1900px) {
        @content;
    }

}
@mixin breakpoint1300 {
    @media screen and (max-width: 1300px) {
        @content;
    }

}
@mixin breakpoint1100 {
    @media screen and (max-width: 1100px) {
        @content;
    }

}
@mixin breakpoint1000 {
    @media screen and (max-width: 1100px) {
        @content;
    }

}

@mixin breakpoint800 {
    @media screen and (max-width: 800px) {
        @content;
    }

}

@mixin breakpoint600 {
    @media screen and (max-width: 600px) {
        @content;
    }

}
@mixin breakpoint550 {
    @media screen and (max-width: 550px) {
        @content;
    }

}
@mixin breakpoint500 {
    @media screen and (max-width: 500px) {
        @content;
    }

}
@mixin breakpoint450 {
    @media screen and (max-width: 450px) {
        @content;
    }

}

@mixin breakpoint200 {
    @media screen and (max-width: 200px) {
        @content;
    }

}