.body__main--2 {
    background-color: $colorfondonegro;
    grid-area: main2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200vh;
    grid-template-areas:
    "mainform"
    ;
    align-items: $alineacioncentro;
    color: $colortexto;
    .main__form {
        grid-area: mainform;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 170vh 30vh;
        grid-template-areas: 
        "field1 field2"
        "field3 field3"
    ;
        .form__field--1 {
            grid-area: field1;
            display: flex;
            flex-direction: column;
            align-items: $alineacioncentro;
            justify-content: $alineacioncentro;
            text-align: $alineacioncentro;
            padding: $padding100/20;
            margin: 5%;
            background-color: $colorfondonegro;
            color: $colortexto;

            .field__legend {
                font-size: $tamatexto1*1.5;
            }
            .field__nombre {
                margin: 5%;
                display: flex;
                justify-content: $alineacioncentro;
                align-items: $alineacioncentro;
                padding: $padding100/100;
                
            }
            .field__edad {
                margin: 5%;
                display: flex;
                justify-content: $alineacioncentro;
                align-items: $alineacioncentro;
                padding: $padding100/100;
            }
            .field__email {
                margin: 5%;
                display: flex;
                justify-content: $alineacioncentro;
                align-items: $alineacioncentro;
                padding: $padding100/100;
            }
            .field__tel {
                margin: 5%;
                display: flex;
                justify-content: $alineacioncentro;
                align-items: $alineacioncentro;
                padding: $padding100/100;
            }
            .field__estado {
                margin: 5%;
                display: flex;
                justify-content: $alineacioncentro;
                align-items: $alineacioncentro;
                padding: $padding100/100;
            }
            .field__ciudad {
                margin: 5%;
                display: flex;
                justify-content: $alineacioncentro;
                align-items: $alineacioncentro;
                padding: $padding100/100;
            }
        }
        .form__field--2 {
            grid-area: field2;
            display: flex;
            flex-direction: column;
            align-items: $alineacioncentro;
            justify-content: $alineacioncentro;
            text-align: $alineacioncentro;
            padding: $padding100/20;
            margin: 5%;
            background-color: $colorfondonegro;
            color: $colortexto;
            .field__legend {
                font-size: $tamatexto1*1.5;
            }
            .field__servicio {
                margin: 5%;
                display: flex;
                justify-content: $alineacioncentro;
                align-items: $alineacioncentro;
                padding: $padding100/100;
            }
            .field__evento {
                display: flex;
                flex-direction: column;
                justify-content: $alineacioncentro;
                align-items: $alineacioncentro;
                margin: 5%;
                padding: $padding100/100;

            }
            .field__fecha {
                margin: 5%;
                display: flex;
                flex-direction: column;
                justify-content: $alineacioncentro;
                align-items: $alineacioncentro;
                padding: $padding100/100;

            }
            .field__asistentes {
                margin: 5%;
                display: flex;
                justify-content: $alineacioncentro;
                align-items: $alineacioncentro;
                padding: $padding100/100;
            }
            .field__comentarios {
                display: flex;
                flex-direction: column;
                justify-content: $alineacioncentro;
                align-items: $alineacioncentro;
                margin: 5%;
                padding: $padding100/100;
            }
        }
        .form__field--3 {
            background-color: $colorfondonegro;
            grid-area: field3;
            text-align: $alineacioncentro;
            padding: $padding100/100;
            .field__legend {
                font-size: $tamatexto1*1.5;
            }
            .field__cancelar {

            }
            .field__borrar {

            }
            .field__enviar {

            }
        }
    }
}